@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font__max: "Poppins", sans-serif;
    --font__card: "Inter", sans-serif;
    --font__footer: "Manrope", sans-serif;
    --color__header: #3A3A3A;
    --text--white: #FFF;
    --button-bg: #E02C6D;
    --card__title--color: #18191F;
    --card__price--color: rgba(0, 0, 0, 0.87);
    --card__description--color: #787885;
    --feature__heading--color: #0A0826;
    --feature__description--color: #6C6C6C;
    --footer__paragraph--color: #D9DBE1;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font__max);
}

button {
    background-color: var(--button-bg);
    display: inline-flex;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
    border: 0;
    color: var(--text--white);
    font-weight: 700;
}

/* header styles */
header {
    max-width: 83.33%;
    margin: 87px auto;
    color: var(--color__header);
}

/* nav styles */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__heading {
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav__items {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: center;

}

.nav__item {
    list-style-type: none;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1rem;
    font-weight: 600;
}

.nav__item a {
    text-decoration: none;
    color: var(--color__header);
}

/* banner styles */
.banner {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__title {
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}

.banner__description {
    font-feature-settings: 'liga' off, 'clig' off;
    font-weight: 600;
    max-width: 505px;
    margin: 16px 0;
}

.banner__button {
    border-radius: 41px;
}

.banner img {
    max-width: 100%;
    background-image: url(../assets/images/circle-design.svg);
    background-repeat: no-repeat;
    padding: 33px 31px;
}

/* main styles */
.main {
    max-width: 76.39%;
    margin: 0 auto;
}

/* sponsors styles */
.divider {
    max-width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

.sponsors-container {
    margin-bottom: 100px;
}

.sponsors {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 40px;
}

.sponsor {
    width: 9%;
}

/* collections styles */
.collections-container {
    margin: 0 30px;
}

.collections__heading {
    color: var(--color__header);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 28px;
    font-weight: 600;
    line-height: 250%;
    text-align: center;
    margin-bottom: 30px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection__item {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px 17px 14px;
    max-width: 329px;
}

.collection__item__photo {
    margin-bottom: 16px;
}

.collection__item--name {
    color: var(--card__title--color);
    font-feature-settings: 'liga' off;
    font-size: 28px;
    font-weight: 500;
    line-height: 142.857%;
    margin-bottom: 6px;
}

.collection__item--price {
    color: var(--card__price--color);
    font-family: var(--font__card);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.fa-star,
.fa-star-half-stroke {
    margin-top: 8px;
    color: #FB8200;
}

.collection__item--description {
    color: var(--card__description--color);
    font-family: var(--font__card);
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    width: 196px;
    letter-spacing: 0.252px;
}

.more a {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);    
}
.more {
    margin-top: 50px;
    float: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 100px;
}

/* media query for responsiveness */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        margin-bottom: 20px;
    }

    .nav,
    .banner {
        flex-direction: column-reverse;
    }

    .nav__items {
        gap: 16px;
    }

    .banner {
        text-align: center;
    }

    .banner__title {
        line-height: normal;
        font-size: 28px;
    }

    .banner__description {
        font-size: 14px;
    }

    .banner img {
        background-size: contain;
        margin-top: 0;
    }

    .divider {
        display: none;
        margin: 0;
    }

    .main {
        margin: 0;
    }

    .sponsors {
        flex-wrap: wrap;
        gap: 20px 40px;
        padding: 0;
    }

    .sponsors-container {
        margin-bottom: 50px;
    }

    .collections-container {
        margin: 0;
    }
    .collections {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .collection__item {
        margin-left: 15px;
    }
}